<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataUploaderForModbus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DataUploaderForModbus.Properties.Settings>
            <setting name="modbusIP" serializeAs="String">
                <value />
            </setting>
            <setting name="modbusPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="modbusUnitID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="modbusAddressItems" serializeAs="String">
                <value />
            </setting>
            <setting name="interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebserviceURL" serializeAs="String">
                <value />
            </setting>
        </DataUploaderForModbus.Properties.Settings>
    </userSettings>
</configuration>